.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100dvh;
  justify-content: space-between;
  padding: 2rem;
}

.main header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main footer form {
  display: grid;
  gap: 1rem;
}

.main footer form > * {
  width: 100%;
}

.title {
  font-family: var(--font-kumbh-sans);
  font-size: calc(2rem + 8vw);
  font-weight: 800;
  line-height: 1;
}

.main p {
  font-family: var(--font-pt-sans);
  font-size: 1rem;
  line-height: 1;
  max-width: 48rem;
  font-weight: 600;
}
